/* CONFIGURAÇÃO GERAL */
*{margin: 0;padding: 0; box-sizing: border-box;}
:root{
    --cor1: #101518;
    --cor2: #d2dae2;
    --cor3: #808e9b;
    --conteudo:#1e272e;
    --letras: #f1f2f6;
    --vermelho: #ff3f34;
    --verde:#0bdd7b;
    --verde-hover: #07b664;

    /* --font1:'Roboto', sans-serif; */
    --font1:'KoHo', sans-serif;
    --font2:'Kanit', sans-serif;;
    --font3:'Kodchasan', sans-serif;;

    /* Testes */
    --bd: 1px solid white;
    --bb: 1px solid black;

    /* Margin padrão */
    --margin-desktop: 0 50px 0 50px;
    --margin-mobile: 0 10px 0 10px;

}

/* SCROOL BAR */
::-webkit-scrollbar-track {
    background-color:var(--cor1);
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: var(--cor3);
}

/* BODY */
body{
    background-color: var(--cor1);
    font-family: var(--font1);
    overflow-x: hidden;
    /* display: grid;
    grid-template-columns: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* HEADER */
header{
    height: 60px;
    background-color: var(--conteudo);
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}
header p{
    /* border: var(--bd); */
    color: var(--letras);
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
}
/* Barra gradiente */
.barra-gradiente{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #808e9b 9%, #5a87ae 31%, #0be881 61%, #ff3f34 91%);
    display: grid;
    place-items: center;
}

/* ALERT */
.alerta{
    position: fixed;
    top: -500px;
    width: 70%; height: 40px;
    background-color: var(--cor3);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    transition: .3s ease;
    border-radius: 5px;
    overflow: hidden;
}
@media (min-width:550px){
    .alerta{
        width: 400px;
    }
}
.alerta[data-visivel="false"]{
    transform: translateY(0px);
}
.alerta[data-visivel="true"]{
    transform: translateY(520px);
    color: white;
}
.icone-alerta{
    /* border: var(--bd); */
    flex-grow: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vermelho);
}
.icone-alerta i{
    color: var(--letras);
    font-size: 25px;
    
}
.mensagem-alerta{
    /* border: var(--bd); */
    flex-grow: 10;
    display: flex;
    justify-content: flex;
    align-items: center;
    color: var(--letras);
}

/* MAIN */
main{
    margin: 20px 0 0 0;
    width: 550px;
}
@media (max-width:600px){
    main{width: 100%;}
}
section{margin-bottom: 20px;}

/* DISPLAY SALDO */
.display-balanco{
    /* border: var(--bd); */
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-color: var(--conteudo);
    margin: var(--margin-mobile);
    border-radius: 5px;
    margin-bottom: 20px;
}
.balanco{
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 40%;
    gap: 10px;
    /* border: var(--bd); */
}
.balanco h2{
    /* border: var(--bd); */
    color: var(--letras);
    font-size: 28px;
    padding: 0 0 0 15px;
    font-weight: 400;
}
.balanco h1{
    /* border: var(--bd); */
    color: var(--letras);
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    padding: 0 15px 0 0;
    font-weight: 400;
}
.balanco h1 span{
    font-size: 25px;
    padding-right: 10px;
    margin-bottom: 8px;
}
.container-lucro-despesa{
    /* border: var(--bd); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.container-lucro-despesa div{
    color: var(--letras);
}
.container-lucro-despesa div.plus{
    border-top: 2px var(--verde) solid;
}
.container-lucro-despesa div.minus{
    border-top: 2px var(--vermelho) solid;
}
.container-lucro-despesa div h4{
    font-weight: 400;
    font-size: 25px;
}
.container-lucro-despesa .minus h4,
.container-lucro-despesa .minus p{
    text-align: right;
    padding-right: 15px;
}
.container-lucro-despesa .plus h4,
.container-lucro-despesa div p{
    padding-left: 15px;
}

 /* DISPLAY FORM */
.display-transacao{
    height: 250px;
    width: 100%;
}

.form-transacao{
    /* border: var(--bd); */
    border-radius: 10px;
    height: 100%;
    background-color: var(--conteudo);
    margin: var(--margin-mobile)
}
.form-transacao h2{
    color: var(--letras);
    padding: 15px 0 0 15px;
    font-weight: 400;
}
.conteudo-form{
    width: 100%;
    padding-top: 10px;
}
.form-control{
    display: flex;
    justify-content: center;
}
input{
    height: 45px;
    width: 90%;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: var(--cor1);
    color: white;
    text-align: center;
    font-family: var(--font1);
    font-weight: 400;

}
textarea, input, select {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
.btn{
    margin-top: 20px;
    height: 40px;
    background-color: var(--verde);
    border: var(--verde);
    width: 90%;
    border-radius: 5px;
    font-size: 18px;
    color: var(--conteudo);
    font-family: var(--font1);
    font-weight: 600;
    cursor: pointer;
}
.btn i{
    padding-right: 10px;
}

/* ATIVIDADES */
.display-atividades{
    width: 100%;
}
.display-atividades h2{
    color: var(--letras);
    padding: 15px 0 0 15px;
    font-weight: 400;
}
.display-atividades div{
    background-color: var(--conteudo);
    min-height: 400px;
    margin:0 15px;
    border-radius: 10px;
    position: relative;
}
.display-atividades div .ajuda{
    position: absolute;
    top: 25px; right: 15px;
    color: rgba(255, 255, 255, 0.233);
    user-select: none;
}
.conteudo-atividades{
    padding: 15px 0 15px 0;
}
.conteudo-atividades ul{
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    list-style-type: none;
}
.conteudo-atividades ul li{
    background-color: var(--cor1);
    height: 50px;
    color: var(--letras);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    user-select: none;
}
.conteudo-atividades ul li button{
    border: none;
    flex-grow: 0.1;
    margin: 0 10px 0 10px;
    background-color: transparent;
}
.conteudo-atividades ul li button svg{
    fill: white;
}
.conteudo-atividades ul li span{
    /* border: var(--bd); */
    flex-grow: 1;
    text-align: end;
}
.conteudo-atividades ul li p{
    /* border: var(--bd); */
    flex-grow: 4;
}
li.plus{
    border-left: var(--verde) 3px solid;
}
li.minus{
    border-left: var(--vermelho) 3px solid;

}
li p{
    padding-left: 10px;
}
li span{
    padding-right: 10px;
}
[data-btn-visibilidade="false"]{
    display: none;
}
[data-btn-visibilidade="true"]{display: block;}