
/* SEÇÕES */
.secao, section{
    /* border: var(--bd); */
    margin-bottom: 100px;
    padding-bottom: 50px;
}
[data-height]{
    /* border: var(--bd); */
    min-height: 100vh !important;
}
.titulo-secao{
    height: 8%;
    margin-bottom: 50px;
    /* border: var(--bd); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}


/* TELA INICIAL */
.tela-inicial{
    margin: var(--margin);
}
.conteudo-inicial{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}
.container-boasvindas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.apresentacao{
    text-align:start;
}
.ola{font-size:28px}
.meu-nome{font-size:65px}
.cargo{font-size:28px}
/* Link */
.informacoes{
    width: 100%;
    height: 45px;
    margin-top: 25px;
}
.informacoes-filho{
    width: 280px;
}
.informacoes-filho:hover{
    box-shadow: 2px 2px 5px 1px #222121;
}
.fa-file-download{
    margin-right: 5px;
}

/* Ilustrações */
.container-ilustracoes{
    position: relative;
    overflow: hidden;
    /* border: var(--bd); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-svg-desenvolvedor{
    /* border: var(--bd); */
    position: relative;
    overflow: hidden;
    height: calc(100vh - 55px);
    width: 100%;
    height: 470px;
}

.paisagem, .svg-desenvolvedor{
    position: absolute;
    width: 100%;
    height: 100%;
}
.paisagem-img{
    width: 100%;
    position: absolute;
    z-index: 4;
}
.homem{
    position: absolute;
    bottom: 20px; right: 80px;
    width: 22%;
    z-index: 5;
}


/* PROJETOS */
.conteudo-projetos{
    margin:0 50px 0 50px;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
/* @media (max-width:1285px){
    .links-projeto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .links-projeto a{
        width: 250px;
    }
} */


section.sobremim-contato{
    /* border: var(--bd); */
    padding: 0 50px 0 50px;
    gap:20px

}
/* section.contato{
    border: var(--bd);

}
section.sobremim{
    border: var(--bd);

} */

/* SOBRE MIM */
.conteudo-sobremim{
    height:500px !important;
    margin:0;
    /* border: var(--bd);
    padding: 0; */
}
.img-dev{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: var(--bd); */
}
.img-dev img{
    width: 180px;
}
.descricao-dev{
    min-height: 40%;
    /* border: var(--bd); */
}
.conteudo-descricao{
    margin: 0 15px;
}
.conteudo-descricao p{
    text-align: center;
}


/* CONTATO */
section.contato h1, section.sobremim h1{
    /* border: var(--bd); */
    padding: 0;
    height: 42px;

}
.conteudo-contato{
    /* border: var(--bd); */
    height: 500px !important;
    margin: 0;
    position: relative;
}
.sobremim, .informacoes-contato{
    /* border: var(--bd); */
    color: var(--letras);
}
.sobremim{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* border: var(--bd); */
}


/* Informações contato */
.informacoes-contato{
    /* border: var(--bd); */
    /* background-color: var(--conteudo); */
    border-radius: 5px;
    overflow: hidden;
}
.conteudo-informacoes{
    height: calc(100%); width: 100%;
    padding: 0 0 0 15px;
    position: relative;
}
.redes-sociais{
    /* border: var(--bd); */
    margin-top: 10px;
    /* border: var(--bd); */
    height: 10%;
    display: flex; 
    flex-direction: column;
    gap: 15px;
}
.conteudo-redessocias{
    /* border: var(--bd); */
    /* display: flex; 
    justify-content: space-evenly;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
}
.link{
    /* border: var(--bd); */
    height: 40px;
    padding: 0 10px 0 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    color: var(--letras);
}
.link .fa-telegram-plane, .fa-instagram, .fa-linkedin, .fa-envelope{
    margin-right: 8px;
    font-size: 20px;
}
.link-telegram{
    border: #2FA6E2 1px solid;
    background-color: #2FA6E2;
}
.link-telegram:hover{
    border: #288cbe 1px solid;
    background-color: #288cbe;
}
.link-likendin{
    border: #0371AE;
    background-color: #0371AE;
}
.link-likendin:hover{
    border: #075a86;
    background-color: #075a86;
}
.link-instagram{
    background-color: #CB2B88;
    border: #CB2B88;
}
.link-instagram:hover{
    background-color: #8f1f60;
    border: #8f1f60;
}
.link-gmail{
    background-color: #D64C3E;
    border: #D64C3E;
}
.link-gmail:hover{
    background-color: #96362c;
    border: #96362c;

}

.conteudo-informacoes .img-contato{
    /* border: var(--bd); */
    position: absolute;
    width: 100%;
    bottom: 10px; left: 0;
    display: flex;
    justify-content: center;
}
.img-contato img{
    width: 600px;
}


