/* PROJETOS */
.conteudo-projetos{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* CONTATO */
.conteudo-redessocias{
    margin: 0 10px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}
.img-contato{
    width: 100%;
    position: absolute;
    bottom: 0; left: 0;
    /* border: var(--bd); */
    display: flex; justify-content: center;
}
.img-contato img{
    width: 420px;
}
