/* PROJETOS */



/* CONHECIMENTOS */


/* SOBREMIM */
@media (min-width: 790px) and (max-width: 991px){
    section.sobremim-contato{
        /* border: var(--bd); */
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    section.sobremim{
        /* border: var(--bd); */
        height: 100vh;
        margin: 0;
    }
    .conteudo-sobremim{
        height: 550px;
    }


    section.contato{
        /* border: var(--bd); */
        height: 100vh;
        margin: 0;
    }
    .conteudo-contato{
        height: 550px;
    }
    .conteudo-redessocias{
        grid-template-rows: 1fr 1fr 1fr 1fr !important;
        grid-template-columns: 1fr !important;

    }
}