$cor1: #1e272e;
$cor2: #d2dae2;
$cor3: #808e9b;
$cordestaque:#5a87ae;
$cordestaquehover:#5c9bd1;
$conteudo:#101518;
$letras: #f1f2f6;
$vermelho: #ff3f34;
$verde:#0bdd7b;
$verde-hover: #07b664;
$corheader: #181f24;


/* Fontes */
$font1:'KoHo', sans-serif;
$font2:'Kanit', sans-serif;;
$font3:'Kodchasan', sans-serif;;

    /* Testes */
$bd: 1px solid white;
$bb: 1px solid black;

    /* Margin padrão */
$margin: 0 50px 0 50px;


/* Mixins */
@mixin mobile(){
  @media(min-width: 680px){
    @content;
  }
}
@mixin tablet(){
  @media(min-width: 768px){
    @content;
  }
}
@mixin sobreMim(){
  @media(min-width:790px) and (max-width:991px){
    @content;
  }
}
@mixin onlyMobile(){
  @media(max-width: 991px){
    @content;
  }
}
@mixin desktop(){
  @media(min-width: 992px){
    @content;
  }
}
@mixin mediumdesktop(){
  @media(min-width: 1200px){
    @content;
  }
}
@mixin bigdesktop(){
  @media(min-width: 1400px){
    @content;
  }
}



/* SCROOL BAR */
::-webkit-scrollbar-track {
  background-color:$cor1;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: $cor3;
}


*{
  box-sizing: border-box;
  padding: 0; margin: 0;
  font-family: $font1;
}
body{
  background-color: $cor1;
}
h1{
  color: $letras;
  font-family: $font1;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
}
h3{
  color: $letras;
  font-family: $font2;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: start;
  padding: 5px  0  10px 15px;
  font-size: 23px;
}
h5{
  color: $letras;
  font-family: $font2;
  font-size: 21px;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 5px 0 5px 15px;
}
.desativado{
  filter: saturate(0);
}
.desativado:hover{
  cursor:not-allowed;
}

@import 'headers';
@import 'footer';
@import 'all';

/* Testes */
@import 'teste';